// main: main.less

html {
	background: url(images/background.jpg) no-repeat center fixed;
	background-size: cover;

	@media @break1 {
		background: @green;
	}
}

body {
	width: 850px;
	margin: 0 auto;
	background: @green;
	font-family: "Quantico";
	font-size: 16px;
	line-height: 1.5;
	color: @text;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	@media @break1{
		width: 100%;
	}

}

p {
	padding-bottom: 20px;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 25px;
	font-weight: bold;
	color: white;
	padding: 40px 0 10px 0;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	color: white;
}

h3 {
	font-size: 20px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

code {
	font-family: mono;
	color: @green;
	background: @text;
	padding: 2px 4px;
	font-size: 14px;
}

a {
	color: white;
	transition: all 0.2s ease-out 0s;
	box-shadow: 0px 0px 0px transparent;
	text-decoration: none;
	/*font-style: italic;*/
	outline: 0;
	border-bottom: 1px dashed rgba(255,255,255,0.5);

	&:hover {
		color: white;
 		background-color: rgba(255,255,255,0.1);
		/* border-bottom: transparent;*/
	}

}

a.button {
	padding: 10px 0;
	font-size: 20px;
	line-height: 50px;
	padding: 5px 10px;
	background: rgba(255,255,255,0.5);
	text-transform: uppercase;
	text-decoration: none;
	color: darken(@green, 10%);
	width: auto;
	border-radius: 2px;
	border-width: 0;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;

	&:hover {
		background: rgba(255,255,255,1);
		box-shadow: 0 0 10px rgba(255,255,255,0.3);
	}
}

a.button.active {
	background: rgba(255,255,255,1);
	box-shadow: 0 0 10px rgba(255,255,255,0.3);
}

.post-header h1 {
	padding-bottom: 20px;
	font-size: 25px;
}

.post-content ol {
	margin-left: 10px;
	padding-bottom: 20px;
}

.post-content ul {
	padding-bottom: 20px;
}

.post-content ol li {
	margin-left: 12.5px;
}

.post-content ul li {

	margin-left: 13px;

	&:before {
		content: "";
		height: 4px;
		width: 4px;
		margin: 10px 0 0 -10px;
		position: absolute;
		background: @text;
	}
}

.post-content ol li {
	list-style: decimal;
}

.page-content {
	background: @green;
}

.post > .post-content ul:first-child {
	background: darken(@green,10%);
	position: relative;
	margin: 0 -50px 30px;
	padding: 0 50px;
	font-size: 16px;
	clear: both;
	float: left;
	width: 100%;

	li {
		float: left;
		padding: 10px 25px 10px 0;
		margin: 0;
		list-style: none;
		white-space: nowrap;

		a {

			font-weight: normal;

			&:hover {
				background: none;
				color: darken(@text, 20%);
			}

			&:before {
				content: "#";
				opacity: 0.6;
			}
		}

		&:before {background: none;}

	}

	a {
		border: 0;
		font-weight: normal
	}

}


a[href^="irc://irc.freenode.net/#terminal-overload"],
h1 a[href^="http://aims.wasted.ch/tolservers"],
h1 a[href^="https://kiwiirc.com"],
h1 a[href^="http://forum.freegamedev.net"] {
	margin-left: 10px;
	padding-right: 30px;
	font-size: 20px;
	border: 0;
	opacity: 0.5;

	&:after {
		content: "";
		height: 25px;
		width: 25px;
		margin: 4px 0 0 5px;
		position: absolute;
		background: url(images/sprite.png) 0px -135px no-repeat;
	}

	&:hover {
		opacity: 1;
		background: none;
	}

}
