// main: main.less

div.post {
	padding: 0 @magic;
}

.home {

	.video {
		background: darken(@green,10%);
		padding: 20px @magic;
		text-align: center;

		@media @break1 {
			padding: 10px;
		}

		iframe {
			width: 750px;
			height: 422px;
			padding: 0;

			@media @break1 {
				width: 450px;
				height: 235px;
			}

			@media @break2 {
				width: auto;
				height: auto;
			}

		}

		.button {
			font-size: 30px;
			text-transform: none;
			line-height: 70px;

			small {
				font-size: 16px;
			}

			@media @break2 {
				margin: 15px 0;
			}

		}

		.download {
			display: block;
			padding: 10px 0;

			a {
				margin: 0 @magic/4;

				@media @break1 {
					margin-right: 0;
				}
			}
		}

	}

	.releases {
		margin-bottom: 14px;
		display: inline-block;
		opacity: 0.3;

		&:hover {
			opacity: 1;
		}
	}

	.info1 {
		margin: 5px 100px;
		border: 2px solid @red-light;
		color: @red-light;
		position: relative;
		padding: 0 0 5px 40px;

		a {
			color: @red-light;
			border-color: @red-light;
		}

		&:before {
			position: absolute;
			content: "!";
			left: 16px;
			top: 0x;
			font-size: 30px;
		}
	}

	.info2 {
		margin: 0 105px 20px;
		border: 2px solid @blue-light;
		border-top: 0;
		color: @blue-light;
		padding: 0 0 5px 0;

		a {
			color: @blue-light;
			border-color: @blue-light;
		}

	}


	.news {
		padding: @magic/2 @magic;

		@media @break1 {
			padding: 5px 20px;
		}

		article {
			padding-bottom: 20px;
		}

		h1 {
			font-size: 20px;
			font-weight: bold;
			padding-top: 20px;
		}

		h2 {

			font-weight: normal;
		}

		.post-meta {
			padding-bottom: 25px;
			opacity: 0.3;
		}
	}
}
