@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  src: local('Quantico'), local('Quantico-Regular'), url(fonts/Quantico-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 700;
  src: local('Quantico-Bold'), url(fonts/Quantico-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Quantico';
  font-style: italic;
  font-weight: 400;
  src: local('Quantico-Italic'), url(fonts/Quantico-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Quantico';
  font-style: italic;
  font-weight: 700;
  src: local('Quantico-BoldItalic'), url(fonts/Quantico-BoldItalic.woff) format('woff');
}
/*########################### RESET start ############################*/
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*########################### RESET end ##############################*/
html {
  background: url(images/background.jpg) no-repeat center fixed;
  background-size: cover;
}
@media (max-width: 850px) {
  html {
    background: #4c877c;
  }
}
body {
  width: 850px;
  margin: 0 auto;
  background: #4c877c;
  font-family: "Quantico";
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.78);
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
@media (max-width: 850px) {
  body {
    width: 100%;
  }
}
p {
  padding-bottom: 20px;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding: 40px 0 10px 0;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
h3 {
  font-size: 20px;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
code {
  font-family: mono;
  color: #4c877c;
  background: rgba(255, 255, 255, 0.78);
  padding: 2px 4px;
  font-size: 14px;
}
a {
  color: white;
  transition: all 0.2s ease-out 0s;
  box-shadow: 0px 0px 0px transparent;
  text-decoration: none;
  /*font-style: italic;*/

  outline: 0;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}
a:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  /* border-bottom: transparent;*/

}
a.button {
  padding: 10px 0;
  font-size: 20px;
  line-height: 50px;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  text-decoration: none;
  color: #3a665e;
  width: auto;
  border-radius: 2px;
  border-width: 0;
  font-style: normal;
  font-weight: normal;
  white-space: nowrap;
}
a.button:hover {
  background: #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
a.button.active {
  background: #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.post-header h1 {
  padding-bottom: 20px;
  font-size: 25px;
}
.post-content ol {
  margin-left: 10px;
  padding-bottom: 20px;
}
.post-content ul {
  padding-bottom: 20px;
}
.post-content ol li {
  margin-left: 12.5px;
}
.post-content ul li {
  margin-left: 13px;
}
.post-content ul li:before {
  content: "";
  height: 4px;
  width: 4px;
  margin: 10px 0 0 -10px;
  position: absolute;
  background: rgba(255, 255, 255, 0.78);
}
.post-content ol li {
  list-style: decimal;
}
.page-content {
  background: #4c877c;
}
.post > .post-content ul:first-child {
  background: #3a665e;
  position: relative;
  margin: 0 -50px 30px;
  padding: 0 50px;
  font-size: 16px;
  clear: both;
  float: left;
  width: 100%;
}
.post > .post-content ul:first-child li {
  float: left;
  padding: 10px 25px 10px 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
}
.post > .post-content ul:first-child li a {
  font-weight: normal;
}
.post > .post-content ul:first-child li a:hover {
  background: none;
  color: rgba(204, 204, 204, 0.78);
}
.post > .post-content ul:first-child li a:before {
  content: "#";
  opacity: 0.6;
}
.post > .post-content ul:first-child li:before {
  background: none;
}
.post > .post-content ul:first-child a {
  border: 0;
  font-weight: normal;
}
a[href^="irc://irc.freenode.net/#terminal-overload"],
h1 a[href^="http://aims.wasted.ch/tolservers"],
h1 a[href^="https://kiwiirc.com"],
h1 a[href^="http://forum.freegamedev.net"] {
  margin-left: 10px;
  padding-right: 30px;
  font-size: 20px;
  border: 0;
  opacity: 0.5;
}
a[href^="irc://irc.freenode.net/#terminal-overload"]:after,
h1 a[href^="http://aims.wasted.ch/tolservers"]:after,
h1 a[href^="https://kiwiirc.com"]:after,
h1 a[href^="http://forum.freegamedev.net"]:after {
  content: "";
  height: 25px;
  width: 25px;
  margin: 4px 0 0 5px;
  position: absolute;
  background: url(images/sprite.png) 0px -135px no-repeat;
}
a[href^="irc://irc.freenode.net/#terminal-overload"]:hover,
h1 a[href^="http://aims.wasted.ch/tolservers"]:hover,
h1 a[href^="https://kiwiirc.com"]:hover,
h1 a[href^="http://forum.freegamedev.net"]:hover {
  opacity: 1;
  background: none;
}
div.post {
  padding: 0 50px;
}
.home .video {
  background: #3a665e;
  padding: 20px 50px;
  text-align: center;
}
@media (max-width: 850px) {
  .home .video {
    padding: 10px;
  }
}
.home .video iframe {
  width: 750px;
  height: 422px;
  padding: 0;
  border-radius: 2px;
}
@media (max-width: 850px) {
  .home .video iframe {
    width: 450px;
    height: 235px;
  }
}
@media (max-width: 450px) {
  .home .video iframe {
    width: auto;
    height: auto;
  }
}
.home .video .button {
  font-size: 30px;
  text-transform: none;
  line-height: 70px;
  position: relative;
  padding: 5px 10px 15px 10px;
  white-space: normal;
}
.home .video .button small {
  position: absolute;
  left: 35px;
  bottom: 4px;
  height: 15px;
  font-size: 14px;
  opacity: 0.5;
  line-height: 1;
  font-style: italic;
}
.home .video .button small:before {
  content: "";
  position: absolute;
  margin: 1px 0 0 -22px;
  width: 20px;
  height: 10px;
  background: url(images/sprite.png) -40px -147px no-repeat;
}
.home .video .button:last-child small {
  position: absolute;
  left: 10px;
  bottom: 4px;
  height: 15px;
  font-size: 14px;
  opacity: 0.5;
  line-height: 1;
}
.home .video .button:last-child small:before {
  display: none;
}
.home .video .button:hover small {
  opacity: 1;
}
@media (max-width: 450px) {
  .home .video .button {
    margin: 15px 0;
  }
}
.home .video .download {
  display: block;
  padding: 10px 0;
}
.home .video .download a {
  margin: 0 12.5px;
}
@media (max-width: 850px) {
  .home .video .download a {
    margin-right: 0;
  }
}
.home .installinstructions {
  margin: 7px 0 0;
  display: block;
  opacity: 0.3;
}
.home .installinstructions:hover {
  opacity: 1;
}
.home .news {
  padding: 25px 50px;
}
@media (max-width: 850px) {
  .home .news {
    padding: 5px 20px;
  }
}
.home .news .info1 {
  border: 2px solid #fbffbb;
  border-radius: 2px;
  color: #fbffbb;
  position: relative;
  padding: 5px 0 10px 50px;
  margin: 0 109px 20px;
  line-height: 1.3;
  background: #3a665e;
  opacity: 0.75;
  transition: all 0.4s ease-in 0s;
}
.home .news .info1:hover {
  opacity: 1;
}
.home .news .info1 a {
  color: #fbffbb;
  border-color: #fbffbb;
}
.home .news .info1:before {
  position: absolute;
  content: "!";
  left: 14px;
  top: 0x;
  font-size: 67px;
}
.home .news article {
  padding-bottom: 20px;
}
.home .news h1 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}
.home .news h2 {
  font-weight: normal;
}
.home .news .post-meta {
  padding-bottom: 25px;
  opacity: 0.3;
}
footer {
  display: block;
  padding: 50px;
  background: #4c877c;
  overflow: auto;
}
footer a {
  border: 0;
}
footer ul {
  margin-left: 10px;
}
footer div {
  width: 150px;
  float: left;
  margin: 0 50px 50px 0;
}
footer div:last-of-type {
  margin: 0 0 50px 0;
}
@media (max-width: 850px) {
  footer div:nth-of-type(2n+1) {
    clear: both;
  }
}
@media (max-width: 450px) {
  footer div {
    width: 100%;
  }
}
footer .icon {
  margin-left: 20px;
}
footer .icon:before {
  content: "";
  position: absolute;
  margin: 2px 0 0 -22px;
  width: 20px;
  height: 20px;
  background: url(images/sprite.png) bottom left no-repeat;
}
footer .twitter:before {
  background-position: -20px bottom;
}
footer .diaspora:before {
  background-position: -40px bottom;
}
footer .pumpio:before {
  background-position: -60px bottom;
}
footer .friendica:before {
  background-position: -80px bottom;
}
footer .gnusocial:before {
  background-position: -100px bottom;
}
footer .github:before {
  background-position: -120px bottom;
}
footer .facebook:before {
  background-position: -140px bottom;
}
footer .indiedb:before {
  background-position: -180px bottom;
}
footer .reddit:before {
  background-position: -200px bottom;
}
.post-content {
  padding-bottom: 50px;
}
.site-header {
  padding: 5px 0 0 0;
}
.site-title {
  width: 100%;
  background: url(images/sprite.png) no-repeat top center;
  height: 116px;
  color: transparent;
  display: block;
  border: 0;
  transition: opacity 0.2s ease-out 0s;
}
@media (max-width: 850px) {
  .site-title {
    width: 200px;
    margin: 0 auto;
  }
}
.site-title:hover {
  color: transparent;
  background-color: transparent;
  background: url(images/sprite.png) no-repeat top center;
}
.site-title.glow {
  opacity: 0;
  left: 0;
  right: 0;
  float: right;
  position: absolute;
}
.site-title.glow:hover {
  opacity: 1;
}
.site-nav {
  text-align: center;
  padding: 0 0 18px 0;
}
.media iframe {
  display: block;
  margin: 0 auto;
  padding: 0 0 25px 0;
  width: 100%;
  height: 450px;
}
.media img {
  max-width: 750px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 0 0 25px 0;
}
@media (max-width: 850px) {
  .media img {
    max-width: 100%;
  }
}
.faq h1 {
  padding: 10px 0 40px;
}
.faq p {
  padding: 0 0 40px 20px;
}
.fund a[href^="http://www.patreon.com/fr1tz"],
.fund a[href^="https://gratipay.com/fr1tz/"] {
  border: 0;
  opacity: 0.5;
  display: block;
  margin: 5px 0 0 20px;
}
.fund a[href^="http://www.patreon.com/fr1tz"]:hover,
.fund a[href^="https://gratipay.com/fr1tz/"]:hover {
  background: transparent;
  opacity: 1;
}
.community iframe {
  border: 0;
  width: 750px;
  height: 600px;
}
@media (max-width: 850px) {
  .community iframe {
    width: 100%;
  }
}
.community iframe[src^="http://forum.freegamedev.net"] {
  height: 1800px;
}
