// main: main.less

footer {

  display: block;
  padding: @magic;
  background: @green;
  overflow: auto;

  .column {
    width: 200px;
    float: left;
    margin: 0 0 @magic @magic;

    @media @break1 {
      width: 100%;
    }
  }

  ul {
      margin-left: 12.5px;
  }

}
