<footer>

  <div class="column play">
    <h1>PLAY</h1>
    <ul>
      <li><a href="/play#tutorials">Tutorials</a></li>
      <li><a href="/play#playsessions">Play Sessions</a></li>
      <li><a href="/play#serverbrowser">Server Browser</a></li>
      <li><a href="/play#runyourserver">Runy your Server</a></li>
    </ul>
  </div>

  <div class="column follow">
    <h1>Follow TOL</h1>
    <ul>
      <li><a class="icon rss" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
      <li><a class="icon twitter" href="https://twitter.com/_NOTC_">twitter</a></li>
      <li><a class="icon diaspora" href="https://despora.de/u/tol">diaspora*</a></li>
      <li><a class="icon pumpio" href="https://microca.st/tol">pump.io</a></li>
      <li><a class="icon friendica" href="https://squeet.me/profile/tol">friendica</a></li>
      <li><a class="icon gnusocial" href="https://gnusocial.de/tol">gnusocial</a></li>
      <li><a class="icon github" href="https://github.com/fr1tz/terminal-overload">Github</a></li>
    </ul>
  </div>

  <div class="column joinus">
    <h1>Join us!</h1>
      <ul>
        <li><a href="/joinus#coderepository">Code Repository</a></li>
        <li><a href="/joinus#bugs">Bugs</a></li>
        <li><a href="/joinus#todo">Todo</a></li>
        <li><a href="/joinus#wiki">Wiki</a></li>
      </ul>
  </div>

  <div class="column support">
    <h1>Support</h1>
      <ul>
        <li><a href="/support#becomepatron">Spread the Word</a></li>
        <li><a href="/support#becomepatron">Run TOL Server</a></li>   
        <li><a href="/support#registernick">Register Nick</a> ($)</li>                     
      </ul>
  </div>

</footer>
