<footer>

  <div class="column play">
    <h1>Find Players</h1>
    <ul>
      <li><a href="/serverbrowser">Servers/Alerts</a></li>    
      <li><a href="/playsessions">Play Sessions</a></li>
      <li><a href="/community#chat">Chat</a></li>
    </ul>
  </div>

  <div class="column follow">
    <h1>Follow TOL</h1>
    <ul>
      <li><a class="icon rss" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
      <li><a class="icon twitter" href="https://twitter.com/_NOTC_">twitter</a></li>
      <li><a class="icon diaspora" href="https://despora.de/u/tol">diaspora*</a></li>
      <li><a class="icon pumpio" href="https://microca.st/tol">pump.io</a></li>
      <li><a class="icon friendica" href="https://squeet.me/profile/tol">friendica</a></li>
      <li><a class="icon gnusocial" href="https://gnusocial.de/tol">gnusocial</a></li>
      <li><a class="icon github" href="https://github.com/fr1tz/terminal-overload/subscription">github</a></li>
    </ul>
  </div>

  <div class="column joinus">
    <h1>Develop</h1>
      <ul>
        <li><a href="/joindev">Join Development!</a></li>
        <li><a href="https://github.com/fr1tz/terminal-overload">Game Source</a></li>
        <li><a href="https://github.com/fr1tz/terminal-overload.org">Website Source</a></li>
        <li><a href="https://github.com/fr1tz/terminal-overload/issues">Issues</a></li>
        <li><a href="https://github.com/fr1tz/terminal-overload/wiki/Developer-TODO-List">Todo</a></li>
        <li><a href="https://github.com/fr1tz/terminal-overload/wiki">Wiki</a></li>
      </ul>
  </div>

  <div class="column support">
    <h1>Support</h1>
      <ul>
        <li><a href="/support#spreadtheword">Spread the Word</a></li>
        <li><a href="/support#runserver">Run a TOL Server</a></li>   
        <li><a href="/support#registernick">Register Nick</a> ($)</li>                     
      </ul>
  </div>

</footer>
