<footer>

  <div class="column">
    <h1>Social</h1>
    <ul>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
      <!--<li><a href="https:/quitter.se/tol">gnusocial</a></li>
      <li><a href="https:/microca.st/tol">pump.io</a></li>-->
      <li><a href="https://twitter.com/_NOTC_">twitter</a></li>
    </ul>
  </div>

  <div class="column">
    <h1>Media</h1>
    <ul>
      <li><a href="/videos">Videos</a></li>
      <li><a href="/screenshots">Screenshots</a></li>
    </ul>
  </div>

  <div class="column">
    <h1>Development</h1>
      <ul>
        <li><a href="https://github.com/fr1tz/terminal-overload">Github</a></li>
        <li><a href="https://github.com/fr1tz/terminal-overload/wiki">Wiki</a></li>
        <li><a href="https://github.com/fr1tz/terminal-overload/issues">Bugs</a></li>
      </ul>
  </div>

</footer>
