<header class="site-header">

  <a class="site-title glow" href="{{ site.url }}"></a>
  <a class="site-title" href="{{ site.url }}">{{ site.title }}</a>

  <div style="width: 100%; text-align: center;">
  <a href="http://forum.freegamedev.net/viewtopic.php?f=89&t=5918">Next scheduled play session</a>:
  <iframe style="vertical-align: middle;" src="http://free.timeanddate.com/countdown/i4dp34zc/n87/cf12/cm0/cu4/ct4/cs0/ca0/co0/cr0/ss0/cacfff/cpc777/pct/tcfff/fs100/szw256/szh108/iso2014-10-22T19:00:00" frameborder="0" width="93" height="28"></iframe>
  </div>

  <nav class="site-nav">
   
      {% for link in site.navigation %}
          {% assign current = nil %}
          {% if page.url == link.url %}
              {% assign current = 'active' %}
          {% endif %}
              <a class="page-link button {{ current }}" href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}

  </nav>

</header>
