<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/main.css" | prepend: site.baseurl }}">
      <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAA8FBMVEUAAAD////////////////////////////////v9fT3+vn+//7////v9fT3+vr+//7////////x9vbh6+rm7+4we28zfXE1fnI3f3Q4gHQ5gXU6gnY7gnY7gnc8gnc9g3hAhXpBhXpDh3xIioBMjYJNjYNOjoROj4RRkIZSkIZSkYZSkYdUkohVk4ldl45dmI5emI9im5Fpn5dzpZ2GsqqGsquQuLKSubOkxcClxcC0z8q0z8u708/H29jH3NjI3NnJ3NnJ3drK3drY5uTf6+nk7uzl7u3p8fDt9PLt9PPu9PPu9fTw9vX1+fj7/f3////dIrp4AAAAFXRSTlMAAxYXGCcsLX6dnZ2dnp6enqLc7vxFzyNlAAAAmElEQVR4AWMgA3AIgAEvnwA/kBJkZRBS0VFzsNWQkjRwsdDUsWJnEJZTMrWVUZKWU5JzN1S0YWHwNFf1UFYy9nLVVzKyl3ViZGAWEfORlfLz93eWl/IVdwaa6iyBEBAVYWJgdJLwAmrxdtNTMrLTMvNkYLFRMIEbqiQnzMBmraPuCLHWUltXVYiBVZAHBDi5eLhBNAcZfgMAZe4XOmGOXtMAAAAASUVORK5CYII=">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <style type="text/css">
      .helpbox {
        width: 90%; 
        margin-left: auto;
        margin-right: auto;
        padding: 4px;
        border: 2px solid rgba(218,134,70,1);;     
        text-align: left;
      }	
    </style>

</head>
